{%extends 'all-Photos/base.html'%}

{% block content%}
{{block.super}}


<div class="row"style="font-size:15px">
    {% for image in images %}
    <div class="col-md-3">
        <div class="card-group wow fadeInLeft" style="margin:2%;" data-aos='fade-up'>
            <div class="view overlay zoom ">
                <img src="{{photo.image.url}}" class="card-img-top"
                    style="height: 300px; width: 300px;border-radius: 12%;">
                <div class="mask flex-center rgba-black-strong">
                    <a href="{{photo.image.url}}" class="btn btn-success">view <i
                            class="far fa-chevron-double-right"></i> </a>
                </div>
            </div>
            <div class="card-body" style="border:2px #0be4e4;">
                <a href="#">
                    <h5 class="strong-text"> <strong>{{photo.name}}</strong> </h5>
                    <h5 class="strong-text"> <strong>{{photo.description}}</strong> </h5>
                    <h5 class="strong-text"> <strong>{{photo.location}}</strong> </h5>
                    <p>Posted on {{photo.pub_date|timesince}}</p>
                    <strong>{{photo.description}}</strong> </h5>
                    <!-- <h5 class="strong-text"> <strong>Location: {{image.image_local}}</strong> </h5>
                    <h5 class="strong-text"> <strong>Category: {{image.image_category}}</strong> </h5> -->
                    <!-- <!-- The button used to copy the text -->
                    <button onclick="myFunction(event)">Copy</button>
                    <span id="address"></span> -->
                </a>
                <hr class="bg-info">
                <p class="black-text pull-right"></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}