{% extends 'all-photos/base.html'%}

{%content block%}
{{block.super}}
{%endblock%}

{% for photo_item in photo %}

<div class="row">
    <!-- displaying photo articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ photo_item.title }} </h2>
    </div>

    <!--Display photo-Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{photo_item.article_image.url}}" class="img-responsive" alt="Image">
    </div>

</div>